html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.landing {
    margin-top: 10%;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

iframe#badge {
    width: calc(4in + 1em);
    height: 100vh;
}

.hidden {
    display: none;
}

.tabs {
    margin-bottom: 0 !important;
}

.error-container {
    flex: 0 0;
    padding: 1em;
    position: fixed;
    bottom: 0;
    background: rgba(250, 250, 250, 0.4);
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.text-fade {
   opacity: 1;
   transition: opacity 1s; 
}

.toggle-field {
    display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch label:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + label {
  background-color: #2196F3;
}

.switch input:checked + label:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.events-disclaimer {
  padding-top: 1em;
  font-style: italic;
}

.landing .title {
    margin-bottom: 5px;
}

.select2.select2-container {
  width: 100% !important
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection--single {
    height: 35px;
    top: 0px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 4px;
    padding: 8px;
}

.select2-search--dropdown .select2-search__field {
    font-size: 16px;
}

.select2-container--open .select2-dropdown--below {
    padding-top: 1px;
}