* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "UPS Berlingske Sans";
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#available-printers label {
    display: block;
}
